[submodule "travis"]
	path = travis
	url = https://github.com/m-lab/travis.git
[submodule "server/mlabns/third_party/GeoIP2-python"]
	path = server/mlabns/third_party/GeoIP2-python
	url = https://github.com/maxmind/GeoIP2-python.git
