language: python
python:
  - "2.7"
env:
  - PYTHONPATH=$PYTHONPATH:$HOME/google-cloud-sdk/platform/google_appengine
cache:
  directories:
    - "$HOME/google-cloud-sdk/"

install:
  - $TRAVIS_BUILD_DIR/travis/install_gcloud.sh app-engine-python
  - $HOME/google-cloud-sdk/install.sh
  - pip install -r test_requirements.txt
  - pip install coveralls
script:
  - ./build
after_success:
    coveralls

deploy:
# Testing: deploy to mlab-sandbox for testing purpose.
- provider: script
  script:
    python environment_bootstrap.py sandbox
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-sandbox SERVICE_ACCOUNT_mlab_sandbox . server/app.yaml
    && $TRAVIS_BUILD_DIR/cron.sh mlab-sandbox
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    all_branches: true
    condition: $TRAVIS_BRANCH == sandbox-* && $TRAVIS_EVENT_TYPE == push

# Testing: deploy to mlab-nstesting
- provider: script
  script:
    python environment_bootstrap.py testing
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-nstesting SERVICE_ACCOUNT_mlab_nstesting . server/app.yaml
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    all_branches: true
    condition: $TRAVIS_BRANCH == master && $TRAVIS_EVENT_TYPE == push

# Production: deploy to mlab-ns
- provider: script
  script:
    python environment_bootstrap.py live
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-ns SERVICE_ACCOUNT_mlab_ns . server/app.yaml
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    tags: true
