language: python
python:
  - "2.7"
env:
  - PYTHONPATH=$PYTHONPATH:$HOME/google_appengine/
cache:
  directories:
    - "$HOME/google-cloud-sdk/"
before_install:
  - travis/decrypt.sh "$encrypted_a33ffc2cc437_key" "$encrypted_a33ffc2cc437_iv"
    keys/service-accounts.tar.enc /tmp/service-accounts.tar /tmp
  - $TRAVIS_BUILD_DIR/travis/install_gcloud.sh
install:
  - pip install -r test_requirements.txt
  - pip install coveralls
script:
  - ./build
after_success:
    coveralls

deploy:
- provider: script
  script: python environment_bootstrap.py testing && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-nstesting /tmp/mlab-nstesting.json . server/app.yaml
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    all_branches: true
    condition: $TRAVIS_BRANCH == master && $TRAVIS_EVENT_TYPE == push
