language: python
python:
  - "2.7"
env:
  - PYTHONPATH=$PYTHONPATH:$HOME/google-cloud-sdk/platform/google_appengine

install:
  - $TRAVIS_BUILD_DIR/travis/install_gcloud.sh app-engine-python
  - $HOME/google-cloud-sdk/install.sh

script:
  - docker build -t mlabns-testing .
  - docker run
    -e TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST
    -e TRAVIS_JOB_ID=$TRAVIS_JOB_ID
    -w /workdir -v $TRAVIS_BUILD_DIR:/workdir -t mlabns-testing bash -c "./build; coveralls"


deploy:
# Testing: deploy to mlab-sandbox for testing purpose.
- provider: script
  script:
    python environment_bootstrap.py mlab-sandbox
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-sandbox SERVICE_ACCOUNT_mlab_sandbox . server/app.yaml
    && $TRAVIS_BUILD_DIR/cron.sh mlab-sandbox
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    all_branches: true
    condition: $TRAVIS_BRANCH == sandbox-* && $TRAVIS_EVENT_TYPE == push

# Staging: deploy to mlab-staging for pre-production validation.
- provider: script
  script:
    python environment_bootstrap.py mlab-staging
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-staging SERVICE_ACCOUNT_mlab_staging . server/app.yaml
    && $TRAVIS_BUILD_DIR/cron.sh mlab-staging
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    all_branches: true
    condition: $TRAVIS_BRANCH == master && $TRAVIS_EVENT_TYPE == push

# Production: deploy to mlab-ns
- provider: script
  script:
    python environment_bootstrap.py mlab-ns
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-ns SERVICE_ACCOUNT_mlab_ns . server/app.yaml
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    tags: true
