language: python

python:
  - "2.7"


env:
  - PYTHONPATH=$PYTHONPATH:$HOME/google-cloud-sdk/platform/google_appengine
cache:
  directories:
    - "$HOME/google-cloud-sdk/"
before_install:
- travis/decrypt.sh "$encrypted_a33ffc2cc437_key" "$encrypted_a33ffc2cc437_iv"
  keys/service-accounts.tar.enc /tmp/service-accounts.tar /tmp

# Install GO
- eval "$(curl -sL https://raw.githubusercontent.com/travis-ci/gimme/master/gimme | GIMME_GO_VERSION=1.9 bash)"

  # Coverage tools for GO
- go get github.com/mattn/goveralls
- go get github.com/wadey/gocovmerge

- echo Branch is ${TRAVIS_BRANCH} and Tag is $TRAVIS_TAG

install:
  # NOTE that this is different from gcloud install in ETL.  Should we reconcile these?
  - $TRAVIS_BUILD_DIR/travis/install_gcloud.sh app-engine-python
  - $HOME/google-cloud-sdk/install.sh
  - pip install -r test_requirements.txt
  - pip install coveralls
script:
  #- ./build
  - go test -v ./... -tags=integration -bench=.

after_success:
    coveralls

deploy:
# Testing: deploy to ns-sandbox for testing purpose.
- provider: script
  script:
    python environment_bootstrap.py testing && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-nstesting /tmp/mlab-nstesting.json . server/app.yaml
    && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-nstesting
    SERVICE_ACCOUNT_mlab_nstesting $TRAVIS_BUILD_DIR/flex/rate_table rate_table.yaml

  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    all_branches: true
    condition: $TRAVIS_BRANCH == sandbox-* && $TRAVIS_EVENT_TYPE == push

# Testing: deploy to mlab-nstesting
- provider: script
  script: python environment_bootstrap.py testing && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-nstesting /tmp/mlab-nstesting.json . server/app.yaml
  skip_cleanup: true
  on:
    repo: m-lab/mlab-nsgo
    all_branches: true
    condition: $TRAVIS_BRANCH == master && $TRAVIS_EVENT_TYPE == push

# Production: deploy to mlab-ns
- provider: script
  script: python environment_bootstrap.py live && $TRAVIS_BUILD_DIR/travis/deploy_app.sh mlab-ns /tmp/mlab-ns.json . server/app.yaml
  skip_cleanup: true
  on:
    repo: m-lab/mlab-ns
    tags: true
