<head>
     <link  type="text/css"
            rel="stylesheet"
            href="/stylesheets/main.css" />

    <title>{% block title %}mlab-ns (MLab Naming Service){% endblock %}
    </title>
</head>

<body>
    <div id="wrap">
        {% block header %}
        <div id="header">
            <ul class="navigation">
                {% block logo %}
                <img src="/images/mlab-logo.png" align=left hspace="4"/>
                {% endblock %}

                {%block MenuSites %}
                <li>
                    <a  href="/admin/sites"
                        class="header">Sites</a>
                </li>
                {% endblock %}

                {%block MenuSliverTools %}
                <li>
                    <a  href="/admin/sliver_tools"
                        class ="header">Sliver Tools</a>
                </li>
                {% endblock %}


                {%block MenuLookup %}
                <!--
                <li>
                    <a  href="/admin/lookup"
                        class="header">Lookup</a>
                </li>
                -->
                {% endblock %}

                {%block MenuMapIPv4 %}
                <li>
                    <a  href="/admin/map/ipv4"
                        class="header">Map IPv4</a>
                    <ul>
                        <li><a href="/admin/map/ipv4/glasnost">Glasnost</a></li>
                        <li><a href="/admin/map/ipv4/mobiperf">Mobiperf</a></li>
                        <li><a href="/admin/map/ipv4/ndt">Ndt</a></li>
                        <li><a href="/admin/map/ipv4/neubot">Neubot</a></li>
                        <li><a href="/admin/map/ipv4/npad">Npad</a></li>
                    </ul>
                </li>
                {% endblock %}

                {%block MenuMapIPv6 %}
                <li>
                    <a  href="/admin/map/ipv6"
                        class="header">Map IPv6</a>
                    <ul>
                        <li><a href="/admin/map/ipv6/glasnost">Glasnost</a></li>
                        <li><a href="/admin/map/ipv6/mobiperf">Mobiperf</a></li>
                        <li><a href="/admin/map/ipv6/ndt">Ndt</a></li>
                        <li><a href="/admin/map/ipv6/neubot">Neubot</a></li>
                        <li><a href="/admin/map/ipv6/npad">Npad</a></li>
                    </ul>
                </li>
                {% endblock %}


             </ul>
        </div>
        {% endblock %}

        {% block div_main %}
        <div id="main">
            {% block content %}{% endblock %}
        </div>

        {% endblock %}
    </div>
    <div id="footer">
      <a href="{{ privacy_doc_url }}" class="footer">Privacy policy</a>

      &nbsp; &nbsp; &nbsp; &nbsp;

      <a href="{{ design_doc_url }}" class="footer">Design document</a>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="http://measurementlab.net" class="footer">M-Lab</a>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="http://www.measurementlab.net/about" class="footer">About
        M-Lab</a>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="http://www.measurementlab.net/contact" class="footer">Contact</a>

      &nbsp;&nbsp;&nbsp;&nbsp;

      <a href="http://www.measurementlab.net/faq" class="footer">FAQ</a>

      &nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</body>
