<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}mlab-ns (MLab Naming Service){% endblock %}
    </title>
    
    <meta 
        name="viewport"
        content="width=device-width initial-scale=1.0, user-scalable=no" />

     <link  type="text/css"
            rel="stylesheet" 
            href="/stylesheets/main.css" />

{% block javascript %}
<script type="text/javascript"
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuvQuQGxqdohwnwDzElYPEAvESZSsK1Nc&sensor=false">
    </script>

    <script type="text/javascript">
        
        var map;
        var green = "81F781";
        var red = "FF0000";
        var white = "FFFFFF";
        var blue = "0000FF";
        var black = "000000";
        var warningColor = "FF8000";
        var defaultColor = green;
        var errorColor = red;

        var markersArray = [];
        var onlineMarkersArray = [];
        var offlineMarkersArray = [];
        var errorMarkersArray = [];

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(41.9000, 12.500),
                zoom: 8,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
                
            map = new google.maps.Map(
                document.getElementById("map_canvas"),
                mapOptions);
            
            var cities = {{cities|safe}};
            for (i in cities) {
                var cityName = "";
                var countryName = "";
                var markerStyle = "default";
                var statusCount = {};
                statusCount['online'] = 0;
                statusCount['offline'] = 0;
                statusCount['init'] = 0;
                var geo = {};

                var htmlSitesInfo = "";
                for (site in cities[i]) {
                    cityName = cities[i][site]['city'];
                    countryName = cities[i][site]['country'];

                    var htmlSiteInfo = "<h3>" + 
                        cities[i][site].site_id + "<h3/>";
                    geo['latitude'] = cities[i][site]['latitude'];
                    geo['longitude'] = cities[i][site]['longitude'];
                    geo['city'] = cities[i][site]['city'];
                    geo['country'] = cities[i][site]['country'];
                    
                    htmlSiteInfo += '<table>' +
                    '<tr>' +
                    '<th> </th>' +
                    '<th> </th>' +
                    '<th> </th>' +
                    '<th> </th>' +
                    '<th> </th>' +
                    '</tr>';
                    for (var j in cities[i][site].sliver_tools) {
                        var status = cities[i][site].sliver_tools[j].status;
                        statusCount[status] += 1;
                        htmlSiteInfo += '<tr>' + 
                            '<td>' + 
                            cities[i][site].sliver_tools[j].slice_id +
                            '</td>' +
                            '<td>' + 
                            cities[i][site].sliver_tools[j].tool_id +
                            '</td>' +
                            '<td>' + 
                            cities[i][site].sliver_tools[j].server_id +
                            '</td>' +
                            '<td ' + 
                            'class="' + status +'">' +
                            cities[i][site].sliver_tools[j].status +
                            '</td>' +
                            '<td>' + 
                            cities[i][site].sliver_tools[j].timestamp +
                            '</td>' +
                            '</tr>';
                        
                    }
                    htmlSiteInfo += '</table>';
                    htmlSitesInfo += htmlSiteInfo;
                }
                var htmlInfo = '<div id="siteinfo">' +
                    '<h2>' + cityName + ',' + countryName + '</h2>' +
                    htmlSitesInfo + '</div>';
          
                if (statusCount['offline'] > 0) {
                    markerStyle = 'warning';
                }

                if (statusCount['offline'] > 2) {
                    markerStyle = 'error';
                }

                if (statusCount['init'] > 2) {
                    markerStyle = 'error';
                }

                var markerIcon = makeIcon(markerStyle, statusCount['offline']);
                var marker = makeMarker(geo, markerIcon);
                marker['html'] = htmlInfo;
                markersArray.push(marker);

                var infowindow = new google.maps.InfoWindow({});
                infowindow.setOptions({maxWidth:700});

                google.maps.event.addListener(
                    marker, "click", function() {
                        infowindow.setContent(this.html);
                        infowindow.open(map, this); });
            }
            showMarkers();
        }

        function addMarkerListener(marker) {    
        }

        function makeMarker(data, icon) {
            var position = new google.maps.LatLng(
                data["latitude"], data["longitude"] );
            var title = data["city"] + "," + data["country"]; 
            var marker = new google.maps.Marker({
                position: position,
                title: title,
                icon: icon,
                map: map
            });
            return marker;
        }

        function makeIcon(style, letter) {
            var size_x = 21
            var size_y = 34
            var apiURL = "http://chart.apis.google.com/chart?";
            var query_string =  "chst=d_map_pin_letter&" +
                "chld=" + letter + "|" + green + "|" + green;

            if (style == "error") {
                query_string =  "chst=d_map_pin_letter&" +
                    "chld=" + letter + "|" + red + "|" + red;
            }

            if (style == "warning") {
                query_string =  "chst=d_map_pin_letter&" +
                    "chld=" + letter + "|" + 
                    warningColor + "|" + warningColor;
            }
            
            if (style == "info") {
                query_string =  "chst=d_map_pin_letter&" +
                    "chld=x|" + green + "|" + black;
            }

            if (style == "init") {
                query_string =  "chst=d_map_pin_letter&" +
                    "chld=x|" + black + "|" + black;
            }


            if (style == "user") {
                query_string =  "chst=d_map_pin_icon&" +
                    "chld=glyphish_user|" + "00BFFF"; 
            }

            var icon = new google.maps.MarkerImage(
                apiURL + query_string,
                new google.maps.Size(size_x, size_y),
                new google.maps.Point(0,0),
                null,
                new google.maps.Size(size_x, size_y));
            return icon;
        }

        function clearOverlayes() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(null);
                }
            }
        }
        
        function showMarkers() {
            if (markersArray) {
                for (i in markersArray) {
                    markersArray[i].setMap(map);
                }
                var bounds = new google.maps.LatLngBounds ();
                for (i in markersArray) {
                    bounds.extend(markersArray[i].position);
                }
                map.fitBounds(bounds)
            }
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
</head>

{% block tag_body %}
<body onload="inizialize()">
{% endblock %}
    <div id="container"> 
        {% block header %}
        <div id="header">      
            <ul class="navigation">
                {% block logo %}
                <img src="/images/mlab-logo.png" align=left hspace="4"/>
                {% endblock %}

                {%block MenuSites %}
                <li>
                    <a  href="/admin/sites"
                        class="header">Sites</a>
                </li>
                {% endblock %}

                {%block MenuSliverTools %}
                <li>
                    <a  href="/admin/sliver_tools"
                        class ="header">Sliver Tools</a>
                </li>
                {% endblock %}

                {%block MenuLookup %}
                <li>
                    <a  href="/admin/lookup"
                        class="header">Lookup</a>
                </li>
                {% endblock %}

                {%block MenuHome %}
                <li>
                    <a  href="/admin"
                        id="menuHome"
                        class="header">Map</a>

                    <ul>
                        <li><a href="/map/neubot">Neubot</a></li>
			            <li><a href="/map/npad">Npad</a></li>
			            <li><a href="/map/ndt">Ndt</a></li>
                        <li><a href="/map/glasnost">Glasnost</a></li>
		            </ul>
                </li>
                {% endblock %}
            </ul>
        </div>
        {% endblock %}    
        <div id="map_canvas">
        </div>
    <div>
</body>

</html>
