{% extends "base.html" %}

{% block title %}MLab SliverTools{% endblock %}

{% block logo %}
{% endblock %}

{% block MenuHome%}
{% endblock %}

{% block MenuMapIPv4%}
{% endblock %}

{% block MenuMapIPv6%}
{% endblock %}

{% block MenuSliverTools%}
{% endblock %}

{% block MenuLookup%}
{% endblock %}

{% block MenuSites%}
{% endblock %}

{% block div_main %}
<div id="notFound">
    <img src="/images/not_found.png"
        alt="Not found"
        height=300
        width=300
        align="middle" />
</div>
{% endblock %}
