
{% extends "base.html" %}

{% block title %}MLab SliverTools{% endblock %}

{% block logo %}
{% endblock %}

{% block MenuHome%}
{% endblock %}

{% block MenuSliverTools%}
{% endblock %}

{% block MenuLookup%}
{% endblock %}

{% block MenuSites%}
{% endblock %}

{% block div_main %}
<div id="main" align="center">
    <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
    
    <img src="/images/not_found.png" alt="Not found" align="middle" />
    
    <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p> &nbsp;&nbsp;&nbsp;&nbsp;</p>

<div>  
{% endblock %}
