{% extends "base.html" %}

{% block title %}M-Lab sites{% endblock %}

{% block MenuSites%}
<li>
    <a  href="/admin/sites"
        id="menuSites"
        class="header">Sites</a>
</li>
{% endblock %}

{% block content %}
    <table id="box-table-blue">
    <tr>
    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}
    </tr>
    {% for record in records %}
        <tr>
          {% for item in record %}
            <td> {{ item }}</td>
          {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endblock %}
