{% extends "base.html" %}

{% block title %}MLab SliverTools{% endblock %}

{% block MenuSliverTools%}
<li>
    <a  href="/admin/sliver_tools"
        id="menuSliverTools"
        class="header">SliverTools</a>
</li>
{% endblock %}


{% block content %}
<table id="box-table-blue">
<tr>
  <th>Tool ID</th>
  <th>Site ID</th>
  <th>Slice ID</th>
  <th>Server ID</th>
  <th>Status</th>
  <th>URL</th>
  <th>Last update</th>
</tr>

{% for record in records %}
    <tr>
    <td>{{ record.tool_id }}</td>
    <td>{{ record.site_id }}</td>
    <td>{{ record.slice_id }}</td>
    <td>{{ record.server_id }}</td>
    <td>{{ record.status }}</td>
    <td> <a href="{{record.url}}"> {{ record.url }} </a></td>
    <td>{{ record.when }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
