{% extends "base.html" %}

{% block title %}MLab SliverTools{% endblock %}

{% block logo %}
{% endblock %}

{% block MenuHome%}
{% endblock %}

{% block MenuMapIPv4%}
{% endblock %}

{% block MenuMapIPv6%}
{% endblock %}

{% block MenuSliverTools%}
{% endblock %}

{% block MenuLookup%}
{% endblock %}

{% block MenuSites%}
{% endblock %}

{% block div_main %}
<div id="teapot">
    <a href="http://tools.ietf.org/html/rfc2324">
    <img src="/images/teapot.png"
        alt="I'm a teapot"
        align="middle" />
    </a>
</div>
{% endblock %}
