html {
 margin-top: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
 height: 93%;
}

body {
 height: 95%;
 margin-top: 20px;
 margin-right: 20px;
 margin-bottom: 20px;
 margin-left: 20px;
}

#box-table-blue {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin-top: 6px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#box-table-blue th {
	padding:12px 0px 12px 0px;
    font-size: 13px;
    font-weight: bold;
    background: #e8edff;
    /*background: #b9c9fe;*/
    /*background: #009999;*/
    /*border-top: 4px solid #aabcfe;*/
    border-bottom: 8px solid white;
    /*color: #039;*/
    color: #669;
}
#box-table-blue td {
	padding:2px 2px 2px 2px;
    background: #e8edff;
    border-bottom: 2px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#box-table-blue tr:hover td {
    background: #d0dafd;
    color: #339;
}

/* This is used in the map view, to format the 
markers InfoWindow */

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 10px;
    margin-top: 1px;
    margin-right: 80px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

th {
	padding:1px 0px 1px 0px;
    font-size: 1px;
    font-weight: bold;
    background: #e8edff;
    border-bottom: 1px solid white;
    color: black;
}
td {
	padding:1px 1px 1px 1px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: black;
    /*color: #669;*/
    border-top: 1px solid transparent;
}
tr:hover td {
    background: #FFFFFF;
    color: blue;
}

td.offline { 
    background-color: #FE2E2E;
}

td.online { 
    background-color: #A9F5A9;
}

td.init { 
    background-color: #BDBDBD;
}


div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:100%;
	background:white;
	
	/*height:auto !important;*/ /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	/*min-height:100%;*/ /* real browsers */
}

div#header {
	padding:0em 0em 1.5em 0;
	background:white;
	border-bottom:1px solid black;
    height:20px
}

div#header p {
	font-style:italic;
	font-size:1.1em;
	margin:0;
}

div#content {
	position:relative;
	margin:0 auto; /* center, not in IE5 */
	width:100%;
	height:100%; /* IE6: treaded as min-height*/
	padding:2em 0 1em 0;
	background:white;
	/*border-top:3px solid black;*/
}

div#map_canvas {
    margin: 0;
	/*border-top:10px solid white;*/
	border-bottom:1px solid black;
    padding: 0;
    height: 94%;
    width: 100%;
}

#wrap { 
    min-height: 100%;
    background-color: white;
}

#main {
    overflow: auto;
	padding:30px 0 30px 0;
    background-color: white;
	width:100%;
    height: 90%
}

div#footer {
	position:relative;
	padding:8px 0 0 0;
	border-top:1px solid black;
	width:100%;
    height:24px;
	bottom:0; /* stick to bottom */
    /*margin-top: -54px;*/
	background:transparent;
	text-align:right;
    color:black;
    font-size:12px ;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

div#siteinfo {
	width:100%;
	height:150px;
    overflow:auto;
	background:white;
	text-align:left;
    color:black;
    font-size:10px ;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

div#siteShortInfo {
	width:100%;
	height:60px;
    overflow:auto;
	background:white;
	text-align:left;
    color:black;
    font-size:10px ;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

ul {
    float:left;
    width:100%;
    padding:0;
    margin:0;
    list-style-type:none;
}

li {
    display:inline;
    margin-right:3px
}

a:link {
    color: blue;
}

a.header:link {
    float:right;
    width:8em;
    height:1.8em;
    text-decoration:none;
    text-align:center;
    color:white;
    background-color:black;
	padding:0.5em 0 0 0;
    border-left:4px solid white;
    font-size:13px;
    font-weight:bold;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

a.header:visited {
    float:right;
    width:8em;
    height:1.8em;
    text-decoration:none;
    text-align:center;
    color:white;
    background-color:black;
	padding:0.5em 0 0 0;
    border-left:4px solid white;
    font-size:13px;
    font-weight:bold;
    font-family: "lucida sans unicode", "lucida grande", sans-serif;
}

a.header:hover{background-color:#505050;}

a#menuSites {
    background-color:#888888;
    color:white;
}

a#menuSliverTools {
    background-color: #888888;
    color:white;
}

a#menuLookup {
    background-color: #888888;
    color:white;
}

a#menuHome {
    background-color: #888888;
    color:white;
}

a.footer:link {color:blue;}
a.footer:visited {color:red;}
a.footer:hover {color:blue;}
a.footer:active {color:blue;}

div#notFound {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -140px;
  margin-left: -150px;
}
