#box-table-blue {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
#box-table-blue th {
    font-size: 12px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: #039;
}
#box-table-blue td {
    padding: 8px;
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
}
#box-table-blue tr:hover td {
    background: #d0dafd;
    color: #339;
}
